@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.players-scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 8;
}

.player-scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#player1-scoreboard {
    background-color: #C1121F;
}

#player2-scoreboard {
    background-color: #003049;
}

.next-players-container {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    width: 100%;
    color: white;
    font-size: 1.2rem;
}

.player-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.player-name {
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
}

.player-name:focus {
    outline: none;
}

.player-score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-score-span {
    color: white;
    font-size: 8rem;
    text-align: center;
}

.serve-indicator {
    color: white;
    font-size: 3rem;
}

.inc-dec-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center; /* Added to center the buttons horizontally */
}

.inc-dec-buttons button {
    background-color: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.inc-dec-buttons button:hover {
    background-color: lightgray;
}

.next-players-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}

.serve-indicator-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container{
    flex: 20;    
}

.player-scoreboard{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


