<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Placar Pingas Play</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div class="scoreboard-container">
            <div class="players-scoreboard">
                <!-- Player 1 Section -->
                <div class="player-scoreboard" id="player1-scoreboard">
                    <div class="score-container">
                        <div class="player-name-container">
                            <input
                                type="text"
                                name="player1-name"
                                id="player1-name"
                                class="player-name"
                                placeholder="Player 1"
                            />
                        </div>
                        <div class="player-score-container">
                            <span class="player-score-span" id="player1-score"
                                >0</span
                            >
                        </div>
                        <div class="inc-dec-buttons">
                            <button
                                class="increment-btn"
                                id="player1-increment"
                            >
                                +
                            </button>
                            <button
                                class="decrement-btn"
                                id="player1-decrement"
                            >
                                -
                            </button>
                        </div>
                    </div>
                    <div class="serve-indicator-container">
                        <div class="serve-indicator">
                            <span
                                class="serve-indicator-span"
                                id="serve-indicator-1"
                                >▶</span
                            >
                        </div>
                    </div>
                </div>

                <!-- Player 2 Section -->
                <div class="player-scoreboard" id="player2-scoreboard">
                    <div class="serve-indicator-container">
                        <div class="serve-indicator">
                            <span
                                class="serve-indicator-span"
                                id="serve-indicator-2"
                                >◀</span
                            >
                        </div>
                    </div>
                    <div class="score-container">
                        <div class="player-name-container">
                            <input
                                type="text"
                                name="player2-name"
                                id="player2-name"
                                class="player-name"
                                placeholder="Player 2"
                            />
                        </div>
                        <div class="player-score-container">
                            <span class="player-score-span" id="player2-score"
                                >0</span
                            >
                        </div>
                        <div class="inc-dec-buttons">
                            <button
                                class="increment-btn"
                                id="player2-increment"
                            >
                                +
                            </button>
                            <button
                                class="decrement-btn"
                                id="player2-decrement"
                            >
                                -
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Next players section -->
            <div class="next-players-container">
                <h3>Próximos Jogadores:</h3>
                <div id="next-players-list">
                    <!-- Lista de próximos jogadores será inserida aqui -->
                </div>
            </div>
        </div>
    </body>
</html>
