.listagem-campeonato, .listagem-ranking {
    background-color: #eee;
    border-radius: 5px;
    min-height: 50px; /* Use min-height para permitir que o item expanda se necessário */
    position: relative;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}

.listagem-ranking {
    justify-content: flex-start;
}


 .listagem-campeonato .text-wrapper {
    color: #000000;
    font-family: "Cabin-Regular", Helvetica;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    flex: 3;
    overflow: hidden;
}

.listagem-campeonato .nome-organizador, .pontos {
    color: #476273;
    font-family: "Cabin-Regular", Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    position: relative;
    flex: 1;
    max-width: max-content;
    padding: 10px;
    text-align: left;
}

.posicao {
    color: #476273;
    font-family: "Cabin-Regular", Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    position: relative;
    flex: 1;
    max-width: max-content;
    padding: 10px;
    text-align: center;
}

.nome-ranking {
    color: #476273;
    font-family: "Cabin-Regular", Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    position: relative;
    flex: 3;
    max-width: max-content;
    padding: 10px;
    text-align: left;
}


.listagem-campeonato .data-do-campeonato {
    color: #476273;
    font-family: "Cabin-Regular", Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    position: relative;
    flex: 1;
    max-width: max-content;
    padding: 10px;
}

.competition-list-home,
.ranking-list-home {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os itens */
    margin-top: 10px; /* Espaçamento superior */
    align-items: center; /* Centraliza os itens */
    overflow-y: auto; /* Permite rolagem vertical */
    overflow-x: hidden; /* Oculta rolagem horizontal */
    max-height: 430px; /* Altura máxima do contêiner */
    width: 100%; /* Largura total do contêiner */
}
  